<!DOCTYPE html>
<html>
<head>
    <title>Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body {
            margin: 15px;
            padding: 10px;
        }
        table{
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Course Categories</h1>
    <table class="centered-table">
        <tr>
            <th>Category ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Number of courses alocated</th>
        </tr>
        {% for category in objects %}
        <tr>
            <td>{{ category.CategoryID }}</td>
            <td>{{ category.Title }}</td>
            <td>{{ category.Description }}</td>
            <td>{{ category.CoursesNumber }}</td>
        </tr>
        {% endfor %}
    </table>
</body>