<!DOCTYPE html>
<html>
<head>
    <title>Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body {
            margin: 15px;
            padding: 10px;
        }
        table{
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Teachers</h1>
    <table class = "centered-table">
        <tr>
            <th>Teacher ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>CoursesNumber</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        {% for teacher in objects %}
        <tr>
            <td>{{ teacher.TeacherID }}</td>
            <td>{{ teacher.Username }}</td>
            <td><input type="password" value="********" readonly style="border:none"></td>
            <td>{{ teacher.CoursesNumber }}</td>
            <td>{{ teacher.Name }}</td>
            <td>{{ teacher.Surname }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
